<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RoboBeast</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/stylesheets/main.css">

    <script type="text/javascript" src="/static/assets/javascripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/main.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- top status bar -->
      <ol id="top-menu" class="breadcrumb">
        <!--
        <li><a class="xl" href="#">Home</a></li>
        <li><a class="xl" href="#">Component</a></li>
        <li><a class="xl" href="#">Orientation</a></li>
        <li class="active xl">Size</li>
        -->
      </ol>        
      <!-- the button bar -->
      <div class="panel" style="text-align:center">
        {{content}}
      </div>
    </div>
  </body>
</html>
